# required functions
validate_target_envs()
{
	SUPPORTED_ENVS="$1"
	OIFS=$IFS
	IFS=','
	for DA_ENV in $SUPPORTED_ENVS;do
		if ! echo "$AVAILABLE_ENVS"| grep -q $DA_ENV;then
			UNSUPPORTED_ENVS="$UNSUPPORTED_ENVS $DA_ENV"
	   	fi
	done

	IFS=$OIFS
	if [ -n "$UNSUPPORTED_ENVS" ];then
		export UNSUPPORTED_ENVS
		return 1
	fi
}

validate_url()
{
	SOURCE_URL=$1
	curl -f "$SOURCE_URL" -k  > /dev/null 2>&1
        return $?

}
launch_containers_for_target_envs()
{
	TARGET_ENVS="$1"
	PACKAGE_RC="$2"
	OIFS=$IFS
	IFS=','
	for DA_ENV in $TARGET_ENVS;do
		start_docker_container "docker-specs/$DA_ENV" $PACKAGE_RC
	done

	IFS=$OIFS
}

start_docker_container()
{
	DOCKER_DIR=$1
	PACKAGE_RC=$2
	. $PACKAGE_RC
	IMAGE_NAME=`basename $DOCKER_DIR`
	sudo docker build -t $IMAGE_NAME-$PACKAGE_NAME "$DOCKER_DIR" && sudo docker run -i -t $IMAGE_NAME-$PACKAGE_NAME
	# next we will need to: 
	# - install the JaM-X package
	# - copy over the git SSH key to ~/.ssh
	# - copy the $PACKAGE_RC to ~jamx/etc
	# - call jamx-gen-package
}

destroy_docker_container()
{
	IMAGE_NAME=$1
	sudo docker rmi $IMAGE_NAME
}

get_container_id()
{
	IMAGE_NAME=$1
	sudo docker ps -l|grep "$1"|awk -F " " '{print $1}'
}

# validate PACKAGE_NAME
# validate PACKAGE_VERSION
