# required functions
validate_target_envs()
{
	SUPPORTED_ENVS="$1"
	OIFS=$IFS
	IFS=','
	for DA_ENV in $SUPPORTED_ENVS;do
		if ! echo "$AVAILABLE_ENVS"| grep -q $DA_ENV;then
			UNSUPPORTED_ENVS="$UNSUPPORTED_ENVS $DA_ENV"
	   	fi
	done

	IFS=$OIFS
	if [ -n "$UNSUPPORTED_ENVS" ];then
		export UNSUPPORTED_ENVS
		return 1
	fi
}

validate_url()
{
	SOURCE_URL=$1
	curl -f "$SOURCE_URL" -k  > /dev/null 2>&1
        return $?

}
launch_containers_for_target_envs()
{
	TARGET_ENVS="$1"
	PACKAGE_NAME="$2"
	OIFS=$IFS
	IFS=','
	for DA_ENV in $TARGET_ENVS;do
		start_docker_container "docker-specs/$DA_ENV" $PACKAGE_NAME
	done

	IFS=$OIFS
}

start_docker_container()
{
	DOCKER_DIR=$1
	PACKAGE_NAME=$2
	IMAGE_NAME=`basename $DOCKER_DIR`
	sudo docker build -t $IMAGE_NAME-$PACKAGE_NAME "$DOCKER_DIR" && sudo docker run -i -t $IMAGE_NAME-$PACKAGE_NAME
}

destroy_docker_container()
{
	IMAGE_NAME=$1
	sudo docker rmi $IMAGE_NAME
}

# validate PACKAGE_NAME
# validate PACKAGE_VERSION
