# comma separated in the form of $DIST:$VERSION
SUPPORTED_ENVS=""
# URL to download the package source from
SOURCE_URL=""
PACKAGE_VERSION=""
PACKAGE_DESCRIPTION=""
# optional for deb. If not supplied, use container's dist name
DIST_NAME=""


